@media (max-width: 768px) {

    header {
      display: flex;
      align-items: center;
      padding-left: 0;
    }
  
    div#in {
      flex-direction: row;
      padding: 5px;
      margin: 5px 0;
    }
}